<div class="bg-white">
     <h1 class="text-center m-5"> <strong>H S</strong> </h1>
 </div>
  <p class="text-white">Harry Edward Styles is an English singer, songwriter, and actor. His musical career began in 2010 as a solo contestant on the British music competition series The X Factor.</p>
 <hr>
 <div class="container bg-secondary">
     <div class="row">
         <div class="col-sm-4 mb-2 mt-2">
             <app-bootstrap-card>Loading..</app-bootstrap-card>
         </div>
         <div class="col-sm-4 mb-2 mt-2">
             <app-bootstrap-card>Loading..</app-bootstrap-card>
         </div>
         <div class="col-sm-4 mb-2 mt-2">
             <app-bootstrap-card>Loading..</app-bootstrap-card>
         </div>
     </div>
     <div class="row">
         <div class="col-sm-4 mb-2 mt-2">
             <app-bootstrap-card>Loading..</app-bootstrap-card>
         </div>
         <div class="col-sm-4 mb-2 mt-2">
             <app-bootstrap-card>Loading..</app-bootstrap-card>
         </div>
         <div class="col-sm-4 mb-2 mt-2">
             <app-bootstrap-card>Loading..</app-bootstrap-card>
         </div>
     </div>
 </div>
 